<%= form_with( url: user_loan_applications_path, method: 'post') do |form| %>
<% if loan_application.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(loan_application.errors.count, "error") %> prohibited this loan_application from being saved:</h2>

  <ul>
    <% loan_application.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :banks  %>
  <%= form.select :banks,  options_for_select(@banks.map{ |obj| [obj['name'], obj['code']] }),
  { :include_blank =>"Choose One", class:'form-control' } %>
</div>
<div class="form-group">
  <%= form.label :account_number  %>
  <%= form.text_field :account_number, class:'form-control', placeholder: 'Account Number' %>
</div>
<div class="form-group">
  <%= form.label :account_name  %>
  <%= form.text_field :account_name, class:'form-control', placeholder: 'Account Name' %>
</div>
<div class="form-group">
  <%= form.label :loan_type  %>
  <%= form.text_field :loan_type, class:'form-control', readonly:true, value: "#{LoanType.find(params[:loan_type]).name}"
  %>
</div>
<%= form.hidden_field :user_id, value: "#{User.find(params[:user_id]).id}" %>
<%= form.hidden_field :loan_type_id, value: params[:loan_type] %>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>